:root {
    --container-width: 1376px;
    --container-padding: 40px;

  --base-color: #000;
  --level-1-color: #181823;
  --light-grey-color: #deecf9;
  --dark-grey-color: #c7e0f4;
  --text-color: #fff;
  --primary-color: #5221e6;
  --green-accent-color: #3cc74e;
  --pink-accent-color: #e95d90;
  --peach-accent-color: #fff3e4;
  --violet-accent-color: #fbe4ff;

  font-size: 16px;

  @media screen and (max-width: 599px) {
    --container-width: 1336px;
    --container-padding: 20px;
  }
}
